Repository actris-cloudnet/cloudnetpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix", "lf"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args: ["--jobs=4"]
        exclude: ^(tests/|docs|cloudnetpy/model_evaluation/tests)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true
        args: ["--ignore-missing-imports", "--check-untyped-defs"]

Release version 1.41.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Fix parsivel units to pass cfchecks
  cloudnetpy/instruments/disdrometer.py
Due: pylint, mypy

Release version 1.41.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Allow scalar variable value `nave` to change between concatenated files
  cloudnetpy/concat_lib.py
  cloudnetpy/instruments/mira.py
  tests/unit/data/mira_inconsistent/file1.mmclx
  tests/unit/data/mira_inconsistent/file2.mmclx
  tests/unit/test_concat_lib.py
  tests/unit/test_mira.py
Due: pylint, mypy

Update `black` version
  .pre-commit-config.yaml
Due: none

Update README
  .github/workflows/test.yml
  README.md
  cloudnetpy/products/drizzle.py
  setup.py
Due: pylint, mypy

Release version 1.41.2
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Skip invalid data values
  cloudnetpy/instruments/disdrometer.py
  tests/unit/data/parsivel/parsivel_bad.log
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Improve parsivel test
  tests/unit/test_disdrometer.py
Due: mypy

Avoid IndexError
  cloudnetpy/categorize/melting.py
Due: pylint, mypy

Mask invalid parsivel data values (#68)
  cloudnetpy/instruments/disdrometer.py
  tests/unit/data/parsivel/parsivel_bad.log
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Use `sldr` for insect detection
  cloudnetpy/categorize/containers.py
  cloudnetpy/categorize/insects.py
  cloudnetpy/categorize/melting.py
Due: pylint, mypy

Release version 1.42.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Check for empty time vector
  cloudnetpy/datasource.py
Due: pylint, mypy

Release version 1.42.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Improve disdrometer product writing
  cloudnetpy/instruments/disdrometer.py
  cloudnetpy/instruments/instruments.py
  cloudnetpy/output.py
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Release version 1.42.2
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Remove pytz
  cloudnetpy/utils.py
  setup.py
Due: pylint, mypy

Update Python requirement to 3.10
  .github/workflows/test.yml
  setup.py
Due: pylint, mypy

Update `cloudnetpy-qc` version requirement
  setup.py
Due: pylint, mypy

Fix disdrometer metadata
  cloudnetpy/instruments/disdrometer.py
Due: pylint, mypy

Use datetime.timezone
  cloudnetpy/utils.py
Due: pylint, mypy

Update RTD Python version
  .readthedocs.yaml
  docs/source/conf.py
Due: mypy

Fix rtd
  docs/source/conf.py
Due: mypy

Update RTD Python version
  .readthedocs.yaml
  docs/requirements.txt
  docs/source/conf.py
Due: mypy

Update installation instructions
  docs/source/installation.rst
Due: none

Use `match` operator
  cloudnetpy/instruments/cloudnet_instrument.py
  release-version
Due: pylint, mypy

Fix bug in screening function with 3d data
  cloudnetpy/instruments/cloudnet_instrument.py
Due: pylint, mypy

Use `match` operator
  cloudnetpy/categorize/radar.py
  cloudnetpy/output.py
  tests/unit/test_output.py
Due: pylint, mypy

Format context managers
  cloudnetpy/concat_lib.py
  cloudnetpy/instruments/pollyxt.py
Due: pylint, mypy

Remove obsolete attribute
  cloudnetpy/categorize/classify.py
  cloudnetpy/categorize/containers.py
Due: pylint, mypy

Simplify `find_liquid` function
  cloudnetpy/categorize/classify.py
  cloudnetpy/categorize/droplet.py
  tests/unit/test_droplet.py
Due: pylint, mypy

Update to actions/checkout@v3
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

Use `voodoonet` for improving liquid detection
  .github/workflows/test.yml
  .pylintrc
  cloudnetpy/categorize/categorize.py
  cloudnetpy/categorize/classify.py
  cloudnetpy/categorize/containers.py
  cloudnetpy/output.py
  setup.py
  tests/unit/test_classify.py
Due: pylint, mypy

Release version 1.43.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy
