Repository actris-cloudnet/cloudnetpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix", "lf"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args: ["--jobs=4"]
        exclude: ^(tests/|docs|cloudnetpy/model_evaluation/tests)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        exclude: ^docs/source/_templates/
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.0
    hooks:
      - id: toml-sort-fix

Release version 1.53.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

modification of previous ignorekeys to speed up processing of znc files when a list or path of them is passed
  cloudnetpy/instruments/mira.py
Due: pylint, mypy

typo as doppler is lowercase in zncs
  cloudnetpy/instruments/mira.py
Due: pylint, mypy

Add draft specification for weather station file format
  specs/weather-station.md
Due: none

Update weather-station.md
  specs/weather-station.md
Due: none

Speed up processing of .znc files by dropping spectra (#87)
  cloudnetpy/instruments/mira.py
Due: pylint, mypy

Remove network call from model-related code
  cloudnetpy/categorize/model.py
  cloudnetpy/utils.py
  tests/unit/test_utils.py
Due: pylint, mypy

Release version 1.53.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Fix crash on HATPRO files with one profile
  cloudnetpy/instruments/rpg_reader.py
Due: pylint, mypy

Release version 1.53.2
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

addition of sources in textbox on the top left of plot; variable dependent if in netcdfattrs, otherwise global netcdfattrs source
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

add SN if available to additional info
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

Added distinction for serialnumber in devices as source_serial_number for single field and source_serial_numbers for global attrs
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

Clarify names of conversions methods
  cloudnetpy/categorize/model.py
  cloudnetpy/categorize/radar.py
  cloudnetpy/datasource.py
  tests/unit/test_datasource.py
Due: pylint, mypy

Fix the bug in the code that distinguishes cl31 from cl51
  cloudnetpy/instruments/vaisala.py
Due: pylint, mypy

New functionality for sources and serial number, for a grid, and includes minorticks
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

documentation of addgrid, slight extension of watermarktext documentation
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

updated test to reflect extended bounds
  tests/unit/test_plotting.py
Due: mypy

Add support for MRR-PRO
  cloudnetpy/datasource.py
  cloudnetpy/instruments/__init__.py
  cloudnetpy/instruments/cloudnet_instrument.py
  cloudnetpy/instruments/instruments.py
  cloudnetpy/instruments/mrr.py
  cloudnetpy/instruments/nc_radar.py
  cloudnetpy/output.py
  cloudnetpy/plotting/plot_meta.py
  cloudnetpy/plotting/plotting.py
  tests/unit/data/mrr/20220124_180000.nc
  tests/unit/test_mrr.py
Due: pylint, mypy

Release version 1.54.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Skip invalid MRR-PRO input files
  cloudnetpy/instruments/mrr.py
Due: pylint, mypy

Release version 1.54.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

codereview changes, still needs to be tested
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add `timestamps` argument to `parsivel2nc`
  cloudnetpy/instruments/disdrometer/parsivel.py
Due: pylint, mypy

Fix some types
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

Add more options to `generate_figure`
  .pylintrc
  cloudnetpy/model_evaluation/plotting/plotting.py
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

Include serial number for Thies LNM
  cloudnetpy/instruments/disdrometer/common.py
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Release version 1.55.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Improve global attributes of `mwrpy` products
  cloudnetpy/instruments/hatpro.py
  cloudnetpy/products/mwr_multi.py
  cloudnetpy/products/mwr_single.py
Due: pylint, mypy

Update cloudnetpy-qc requirement
  pyproject.toml
Due: none

Release version 1.55.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Update specification based on feedback
  specs/weather-station.md
Due: none

Fix column name
  specs/weather-station.md
Due: none

Adjust specification text
  specs/weather-station.md
Due: none

Update celsius symbol
  specs/weather-station.md
Due: none
