Repository actris-cloudnet/cloudnetpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix", "lf"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args: ["--jobs=4"]
        exclude: ^(tests/|docs|cloudnetpy/model_evaluation/tests)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true
        args: ["--ignore-missing-imports", "--check-untyped-defs"]

Avoid crashing when different number of hatpro `.LWP` and `.IWV` files
  cloudnetpy/instruments/hatpro.py
  tests/unit/data/hatpro-lwp-iwv-2/21020600.IWV
  tests/unit/data/hatpro-lwp-iwv-2/21020600.LWP
  tests/unit/data/hatpro-lwp-iwv-2/21020601.LWP
  tests/unit/test_hatpro.py
Due: pylint, mypy

Raise error if no `.LWP` files
  cloudnetpy/instruments/hatpro.py
  tests/unit/data/hatpro-iwv/21021700.IWV
  tests/unit/data/hatpro-iwv/21021703.IWV
  tests/unit/test_hatpro.py
Due: pylint, mypy

Avoid crashing when different number of hatpro `.LWP` and `.IWV` files (#71)
  cloudnetpy/instruments/hatpro.py
  tests/unit/data/hatpro-iwv/21021700.IWV
  tests/unit/data/hatpro-iwv/21021703.IWV
  tests/unit/data/hatpro-lwp-iwv-2/21020600.IWV
  tests/unit/data/hatpro-lwp-iwv-2/21020600.LWP
  tests/unit/data/hatpro-lwp-iwv-2/21020601.LWP
  tests/unit/test_hatpro.py
Due: pylint, mypy

Release version 1.43.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Write `liquid_prob` to categorize file
  cloudnetpy/categorize/categorize.py
  cloudnetpy/categorize/classify.py
  cloudnetpy/categorize/containers.py
Due: pylint, mypy

Add `Voodoo` reference to categorize file
  cloudnetpy/categorize/categorize.py
  cloudnetpy/output.py
  tests/unit/test_output.py
Due: pylint, mypy

Add `Voodoo` reference to classification file
  cloudnetpy/output.py
  cloudnetpy/products/classification.py
Due: pylint, mypy

Fix mask in scaled `der` variables
  cloudnetpy/products/der.py
Due: pylint, mypy

Change `ier` unit to m
  cloudnetpy/plotting/plot_meta.py
  cloudnetpy/products/ier.py
Due: pylint, mypy

Write `ier` and `der` references to file
  cloudnetpy/output.py
Due: pylint, mypy

Update versions
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  setup.py
Due: pylint, mypy

Fix `voodoonet` call
  cloudnetpy/categorize/classify.py
Due: pylint, mypy

Release version 1.44.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Use human-readable `pylint` problem names
  .pylintrc
Due: none

Add `atmos_utils.py` to get rid of cyclic import
  cloudnetpy/categorize/atmos.py
  cloudnetpy/categorize/atmos_utils.py
  cloudnetpy/categorize/model.py
  cloudnetpy/products/product_tools.py
  cloudnetpy/utils.py
  tests/unit/test_atmos.py
  tests/unit/test_atmos_utils.py
Due: pylint, mypy

Update LICENSE
  LICENSE
Due: none

Add rv-polarstern pollyxt variables
  cloudnetpy/plotting/plot_meta.py
Due: pylint, mypy

Add rv-polarstern pollyxt depolarisation variables
  cloudnetpy/plotting/plot_meta.py
Due: pylint, mypy

Update `cloudnetpy-qc` version requirement
  setup.py
Due: pylint, mypy

Release version 1.44.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Use more specific exceptions in PollyXT handling
  cloudnetpy/instruments/pollyxt.py
Due: pylint, mypy

Release version 1.44.2
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Migrate model-evaluation documentation
  docs/source/index.rst
  docs/source/model-evaluation/_figs/20190517_mace-head_cf_A_adv_ecmwf_single.png
  docs/source/model-evaluation/_figs/20190517_mace-head_cf_V_adv_ecmwf_single.png
  docs/source/model-evaluation/_figs/20190517_mace-head_cf_aerror_ecmwf.png
  docs/source/model-evaluation/_figs/20190517_mace-head_cf_area_ecmwf.png
  docs/source/model-evaluation/_figs/20190517_mace-head_cf_ecmwf_group.png
  docs/source/model-evaluation/_figs/20190517_mace-head_cf_hist_ecmwf.png
  docs/source/model-evaluation/_figs/20190517_mace-head_cf_vertical_ecmwf.png
  docs/source/model-evaluation/_figs/20190517_mace-head_classification.png
  docs/source/model-evaluation/_figs/20190517_mace-head_iwc-Z-T-method.png
  docs/source/model-evaluation/_figs/20190517_mace-head_iwc_ecmwf_group.png
  docs/source/model-evaluation/_figs/20190517_mace-head_lwc-scaled-adiabatic.png
  docs/source/model-evaluation/_figs/20190517_mace-head_lwc_ecmwf_group.png
  docs/source/model-evaluation/_figs/L3_process.png
  docs/source/model-evaluation/_figs/custom.css
  docs/source/model-evaluation/overview.rst
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Add py.typed
  MANIFEST.in
  cloudnetpy/py.typed
Due: none

Add weather station tests
  tests/unit/all_products_fun.py
  tests/unit/data/ws/bad-ws.asc
  tests/unit/data/ws/bad-ws2.asc
  tests/unit/data/ws/palaiseau-ws.asc
  tests/unit/test_utils.py
  tests/unit/test_weather_station.py
Due: mypy

Harmonize metadata definitions
  cloudnetpy/instruments/rpg.py
  cloudnetpy/instruments/weather_station.py
  cloudnetpy/metadata.py
Due: pylint, mypy

Add weather station processing
  cloudnetpy/exceptions.py
  cloudnetpy/instruments/__init__.py
  cloudnetpy/instruments/instruments.py
  cloudnetpy/instruments/weather_station.py
  cloudnetpy/output.py
  cloudnetpy/plotting/plot_meta.py
  cloudnetpy/plotting/plotting.py
  cloudnetpy/utils.py
Due: pylint, mypy

Replace `rain_rate` with `rainfall_rate`
  cloudnetpy/categorize/atmos_utils.py
  cloudnetpy/categorize/categorize.py
  cloudnetpy/categorize/classify.py
  cloudnetpy/categorize/containers.py
  cloudnetpy/categorize/radar.py
  cloudnetpy/instruments/rpg.py
  cloudnetpy/instruments/rpg_reader.py
  cloudnetpy/output.py
  cloudnetpy/products/product_tools.py
  tests/unit/test_atmos_utils.py
  tests/unit/test_der.py
  tests/unit/test_drizzle.py
  tests/unit/test_ier.py
  tests/unit/test_iwc.py
  tests/unit/test_lwc.py
  tests/unit/test_rpg.py
Due: pylint, mypy

Update cloudnetpy-qc requirement
  setup.py
Due: pylint, mypy

Fix based on review
  cloudnetpy/instruments/weather_station.py
  cloudnetpy/plotting/plotting.py
  cloudnetpy/utils.py
Due: pylint, mypy

Fix default branch name
  README.md
  docs/source/guide.rst
  release-version
Due: none
