Repository actris-cloudnet/cloudnetpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --jobs=4

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

Release version 1.55.14
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Fix `cloudnet_file_type` attribute in L3 files
  cloudnetpy/model_evaluation/file_handler.py
  cloudnetpy/model_evaluation/tests/e2e/process_cf/tests.py
  cloudnetpy/model_evaluation/tests/e2e/process_iwc/tests.py
  cloudnetpy/model_evaluation/tests/e2e/process_lwc/tests.py
Due: pylint, mypy

Fix L3 product metadata
  cloudnetpy/model_evaluation/file_handler.py
  cloudnetpy/model_evaluation/metadata.py
Due: pylint, mypy

Fix typo
  cloudnetpy/model_evaluation/products/advance_methods.py
  cloudnetpy/model_evaluation/products/model_products.py
Due: pylint, mypy

Release version 1.55.15
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Add standard names
  cloudnetpy/products/drizzle.py
  cloudnetpy/products/lwc.py
Due: pylint, mypy

Support MIRA files with NyquistVelocity as array
  cloudnetpy/instruments/mira.py
  cloudnetpy/instruments/nc_radar.py
  tests/unit/data/mira-nyquist/20200116_0000-trunc.mmclx
  tests/unit/test_mira.py
Due: pylint, mypy

Clean up code
  cloudnetpy/instruments/mira.py
Due: pylint, mypy

Release version 1.55.16
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Raise error if all MIRA data are masked
  cloudnetpy/exceptions.py
  cloudnetpy/instruments/mira.py
  cloudnetpy/instruments/nc_radar.py
  tests/unit/data/mira-masked/20231003_1400-trunc.mmclx
  tests/unit/test_mira.py
Due: pylint, mypy

Remove duplicate timestamps from BASTA
  cloudnetpy/instruments/basta.py
Due: pylint, mypy

Release version 1.55.17
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Raise error if 'height' missing from model file
  cloudnetpy/categorize/model.py
Due: pylint, mypy

Release version 1.55.18
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Install `release-version` from PyPI
  pyproject.toml
  release-version
Due: none

Fix mwr-l1c processing without IR data
  cloudnetpy/instruments/hatpro.py
Due: pylint, mypy

Release version 1.55.19
  cloudnetpy/version.py
Due: pylint, mypy

Fix CHANGELOG.md
  CHANGELOG.md
Due: none

Add yet another Parsivel reader
  cloudnetpy/instruments/disdrometer/parsivel.py
  tests/unit/data/parsivel/bucharest_0000000123_20231025221800.txt
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Release version 1.55.20
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Migrate to Ruff
  .pre-commit-config.yaml
  cloudnetpy/categorize/lidar.py
  cloudnetpy/model_evaluation/plotting/plot_tools.py
  cloudnetpy/utils.py
  pyproject.toml
  tests/unit/test_basta.py
  tests/unit/test_categorize.py
  tests/unit/test_copernicus.py
  tests/unit/test_cs135.py
  tests/unit/test_galileo.py
  tests/unit/test_hatpro.py
  tests/unit/test_insects.py
  tests/unit/test_pollyxt.py
  tests/unit/test_radiometrics.py
  tests/unit/test_vaisala.py
  tests/unit/test_weather_station.py
Due: pylint, mypy

Fix CI commands
  .github/workflows/test.yml
Due: none

Fix HATPRO tests
  tests/unit/test_hatpro.py
Due: mypy

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Describe Parsivel format in more detail
  cloudnetpy/instruments/disdrometer/parsivel.py
Due: pylint, mypy

Update README.md
  README.md
Due: none

Remove config files no longer used
  .pylintrc
  requirements.txt
Due: none

Fix types
  cloudnetpy/categorize/freezing.py
  cloudnetpy/instruments/disdrometer/common.py
Due: pylint, mypy

Restore requirements.txt, needed for RTD
  requirements.txt
Due: none

Fix RET504
  cloudnetpy/categorize/atmos.py
  cloudnetpy/categorize/categorize.py
  cloudnetpy/categorize/insects.py
  cloudnetpy/categorize/melting.py
  cloudnetpy/instruments/basta.py
  cloudnetpy/instruments/ceilo.py
  cloudnetpy/instruments/ceilometer.py
  cloudnetpy/instruments/copernicus.py
  cloudnetpy/instruments/disdrometer/parsivel.py
  cloudnetpy/instruments/disdrometer/thies.py
  cloudnetpy/instruments/galileo.py
  cloudnetpy/instruments/mira.py
  cloudnetpy/instruments/mrr.py
  cloudnetpy/instruments/pollyxt.py
  cloudnetpy/instruments/radiometrics.py
  cloudnetpy/instruments/vaisala.py
  cloudnetpy/instruments/weather_station.py
  cloudnetpy/model_evaluation/plotting/plotting.py
  cloudnetpy/model_evaluation/products/advance_methods.py
  cloudnetpy/model_evaluation/products/observation_products.py
  cloudnetpy/plotting/plotting.py
  cloudnetpy/products/classification.py
  cloudnetpy/products/drizzle.py
  cloudnetpy/products/drizzle_error.py
  cloudnetpy/products/ier.py
  cloudnetpy/products/iwc.py
  cloudnetpy/products/lwc.py
  cloudnetpy/products/product_tools.py
  cloudnetpy/utils.py
Due: pylint, mypy

Fix G004
  cloudnetpy/categorize/lidar.py
  cloudnetpy/categorize/radar.py
  cloudnetpy/instruments/ceilometer.py
  cloudnetpy/instruments/disdrometer/common.py
  cloudnetpy/instruments/disdrometer/parsivel.py
  cloudnetpy/instruments/hatpro.py
  cloudnetpy/instruments/lufft.py
  cloudnetpy/instruments/mrr.py
  cloudnetpy/instruments/nc_lidar.py
  cloudnetpy/instruments/nc_radar.py
  cloudnetpy/instruments/pollyxt.py
  cloudnetpy/instruments/radiometrics.py
  cloudnetpy/instruments/rpg.py
  cloudnetpy/instruments/rpg_reader.py
  cloudnetpy/model_evaluation/products/advance_methods.py
  cloudnetpy/model_evaluation/products/model_products.py
  cloudnetpy/model_evaluation/products/observation_products.py
  cloudnetpy/model_evaluation/statistics/statistical_methods.py
  cloudnetpy/products/drizzle_tools.py
  cloudnetpy/utils.py
Due: pylint, mypy

Upgrade pip in workflow
  .github/workflows/test.yml
Due: none

Fix SIMXXX
  cloudnetpy/categorize/containers.py
  cloudnetpy/concat_lib.py
  cloudnetpy/instruments/campbell_scientific.py
  cloudnetpy/instruments/ceilometer.py
  cloudnetpy/instruments/nc_radar.py
  cloudnetpy/instruments/vaisala.py
  cloudnetpy/model_evaluation/file_handler.py
  cloudnetpy/model_evaluation/plotting/plot_tools.py
  cloudnetpy/model_evaluation/plotting/plotting.py
  cloudnetpy/model_evaluation/products/grid_methods.py
  cloudnetpy/model_evaluation/products/model_products.py
  cloudnetpy/model_evaluation/tests/e2e/process_cf/tests.py
  cloudnetpy/model_evaluation/tests/e2e/process_iwc/tests.py
  cloudnetpy/model_evaluation/tests/e2e/process_lwc/tests.py
  cloudnetpy/model_evaluation/tests/unit/test_grid_methods.py
  cloudnetpy/model_evaluation/tests/unit/test_model_products.py
  cloudnetpy/model_evaluation/tests/unit/test_observation_products.py
  cloudnetpy/output.py
  cloudnetpy/plotting/plotting.py
  cloudnetpy/products/drizzle.py
Due: pylint, mypy

Fix DTZXXX
  cloudnetpy/datasource.py
  cloudnetpy/instruments/campbell_scientific.py
  cloudnetpy/instruments/disdrometer/parsivel.py
  cloudnetpy/instruments/hatpro.py
  cloudnetpy/instruments/radiometrics.py
  cloudnetpy/instruments/weather_station.py
  cloudnetpy/model_evaluation/products/observation_products.py
  cloudnetpy/model_evaluation/tests/unit/test_observation_products.py
  cloudnetpy/model_evaluation/tests/unit/test_tools.py
  cloudnetpy/plotting/plotting.py
  cloudnetpy/utils.py
Due: pylint, mypy

Fix typo
  cloudnetpy/instruments/nc_radar.py
Due: pylint, mypy

Fix PTH113
  cloudnetpy/model_evaluation/utils.py
Due: pylint, mypy

Remove dead code
  cloudnetpy/model_evaluation/tests/unit/test_grid_methods.py
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

Fix EM102
  cloudnetpy/categorize/categorize.py
  cloudnetpy/categorize/droplet.py
  cloudnetpy/categorize/insects.py
  cloudnetpy/categorize/radar.py
  cloudnetpy/cloudnetarray.py
  cloudnetpy/concat_lib.py
  cloudnetpy/datasource.py
  cloudnetpy/instruments/campbell_scientific.py
  cloudnetpy/instruments/ceilo.py
  cloudnetpy/instruments/ceilometer.py
  cloudnetpy/instruments/cl61d.py
  cloudnetpy/instruments/disdrometer/common.py
  cloudnetpy/instruments/disdrometer/parsivel.py
  cloudnetpy/instruments/disdrometer/thies.py
  cloudnetpy/instruments/hatpro.py
  cloudnetpy/instruments/lufft.py
  cloudnetpy/instruments/mira.py
  cloudnetpy/instruments/rpg.py
  cloudnetpy/instruments/rpg_reader.py
  cloudnetpy/instruments/vaisala.py
  cloudnetpy/instruments/weather_station.py
  cloudnetpy/model_evaluation/file_handler.py
  cloudnetpy/model_evaluation/plotting/plotting.py
  cloudnetpy/model_evaluation/products/advance_methods.py
  cloudnetpy/model_evaluation/products/grid_methods.py
  cloudnetpy/model_evaluation/products/model_products.py
  cloudnetpy/model_evaluation/products/observation_products.py
  cloudnetpy/model_evaluation/products/tools.py
  cloudnetpy/model_evaluation/statistics/statistical_methods.py
  cloudnetpy/model_evaluation/tests/e2e/process_cf/main.py
  cloudnetpy/model_evaluation/tests/e2e/process_cf/tests.py
  cloudnetpy/model_evaluation/tests/e2e/process_iwc/main.py
  cloudnetpy/model_evaluation/tests/e2e/process_iwc/tests.py
  cloudnetpy/model_evaluation/tests/e2e/process_lwc/main.py
  cloudnetpy/model_evaluation/tests/e2e/process_lwc/tests.py
  cloudnetpy/model_evaluation/tests/unit/conftest.py
  cloudnetpy/plotting/plotting.py
  cloudnetpy/products/drizzle.py
  cloudnetpy/products/drizzle_error.py
  cloudnetpy/products/drizzle_tools.py
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$, but not: ^(tests/|docs|cloudnetpy/model_evaluation/tests)
  mypy: any of: \.py$
