Repository actris-cloudnet/cloudnetpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix", "lf"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args: ["--jobs=4"]
        exclude: ^(tests/|docs|cloudnetpy/model_evaluation/tests)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        exclude: ^docs/source/_templates/
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.0
    hooks:
      - id: toml-sort-fix

Fix array comparison
  tests/unit/test_utils.py
Due: mypy

Support Python 3.11
  .github/workflows/test.yml
  pyproject.toml
Due: none

Revise README.md
  README.md
Due: none

Split `disdrometer2nc` into `parsivel2nc` and `thies2nc`
  cloudnetpy/instruments/__init__.py
  cloudnetpy/instruments/disdrometer/__init__.py
  cloudnetpy/instruments/disdrometer/common.py
  cloudnetpy/instruments/disdrometer/parsivel.py
  cloudnetpy/instruments/disdrometer/thies.py
  docs/source/api.rst
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Rewrite Parsivel reader
  cloudnetpy/cloudnetarray.py
  cloudnetpy/instruments/disdrometer/__init__.py
  cloudnetpy/instruments/disdrometer/common.py
  cloudnetpy/instruments/disdrometer/parsivel.py
  cloudnetpy/instruments/disdrometer/thies.py
  cloudnetpy/output.py
  tests/unit/data/parsivel/palaiseau.txt
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Release version 1.47.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Allow unknown values is Parsivel telegram
  cloudnetpy/instruments/disdrometer/parsivel.py
  tests/unit/data/parsivel/warsaw.txt
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Release version 1.47.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Write CHM15k serial number to output file
  cloudnetpy/instruments/lufft.py
  tests/unit/test_lufft.py
Due: pylint, mypy

Simplify mypy ignores
  pyproject.toml
Due: none

Release version 1.47.2
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Change `lwp` unit to `kg m-2`
  cloudnetpy/categorize/atmos.py
  cloudnetpy/categorize/categorize.py
  cloudnetpy/categorize/droplet.py
  cloudnetpy/categorize/insects.py
  cloudnetpy/categorize/mwr.py
  cloudnetpy/instruments/rpg.py
  cloudnetpy/instruments/rpg_reader.py
  cloudnetpy/metadata.py
  cloudnetpy/plotting/plotting.py
  cloudnetpy/products/der.py
  cloudnetpy/products/lwc.py
  pyproject.toml
  tests/unit/test_atmos.py
  tests/unit/test_hatpro.py
  tests/unit/test_mwr.py
Due: pylint, mypy

Change function name
  cloudnetpy/plotting/plotting.py
  tests/unit/test_plotting.py
Due: pylint, mypy

Release version 1.48.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Support more values in Parsivel telegram
  cloudnetpy/instruments/disdrometer/parsivel.py
  tests/unit/test_disdrometer.py
Due: pylint, mypy

Adjust plotting metadata
  cloudnetpy/plotting/plot_meta.py
Due: pylint, mypy

Release version 1.49.0
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Fix lwp plotting
  cloudnetpy/plotting/plotting.py
Due: pylint, mypy

Release version 1.49.1
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Improve global attributes
  cloudnetpy/instruments/hatpro.py
  cloudnetpy/output.py
  cloudnetpy/products/mwr_single.py
  tests/unit/test_output.py
Due: pylint, mypy

Add potential temperature plot meta
  cloudnetpy/plotting/plot_meta.py
Due: pylint, mypy

Release version 1.49.2
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Release version 1.49.3
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Fix `mwr-multi` time units
  cloudnetpy/products/mwr_multi.py
Due: pylint, mypy

Release version 1.49.4
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Refactor
  cloudnetpy/output.py
  cloudnetpy/products/mwr_multi.py
  cloudnetpy/products/mwr_single.py
Due: pylint, mypy

Extend mwrpy processing to all sites
  cloudnetpy/instruments/hatpro.py
  cloudnetpy/products/mwr_multi.py
  cloudnetpy/products/mwr_single.py
  cloudnetpy/products/product_tools.py
Due: pylint, mypy

Use lower level call to mwrpy
  cloudnetpy/products/mwr_multi.py
  cloudnetpy/products/mwr_single.py
Due: pylint, mypy

Release version 1.49.5
  CHANGELOG.md
  cloudnetpy/version.py
Due: pylint, mypy

Use trusted publishing
  .github/workflows/publish.yml
Due: none

Cache pip in GitHub Actions
  .github/workflows/test.yml
Due: none

Lint tests
  .github/workflows/test.yml
  tests/e2e_test.py
Due: mypy

Fix URL names
  pyproject.toml
Due: none

Improve duplicate timestamp handling in HATPRO reader
  cloudnetpy/instruments/rpg_reader.py
Due: pylint, mypy
